@import url('reset.css');


body {
    background-color: black;
}

.p{
    color: white;
}

.banner h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
  }

.banner{
    background-image: url("../images/banner.png"),
    linear-gradient(#000000, #31A8DD);
    
}

.banner-content{
    width: 510px;
    height: 393px;
    border: 1px;
    top: 56px;
    left: 465px;
}

.logo{
    top: 27px;
    left: 131px;
    border-radius: 100%;
}